name: CI

on:
  push:
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Check
    steps:
      - uses: actions/checkout@v5

      - name: Copy env file
        run: cd back/ && cp .env.example .env

      - name: Build Docker images
        run: docker compose build --no-cache