
on:
    push:
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        name: build
        steps:
            - uses: actions/checkout@v5
            - name: Setup-Go
              uses: actions/setup-go@v5
              with: 
                go-version: '1.25.x'
            - name: Install dependencies
              run: |
                cd back && go install . 
            - name: build docker-image
              uses: hoverkraft-tech/compose-action@v2.0.1
              #with:
                #compose-file: "docker-compose.yaml"

#WIP: need to merge docer-compose branch first


    